# Only track configs that I change
/**/*
/*
!/.gitignore
!/DIR_COLORS
!/environment
!/gitconfig
!/homebrew
!/homebrew/Brewfile
!/homebrew/brew.env
!/homebrew/links.conf
!/vimrc
!/whalebrew
!/whalebrew/config.yaml
!/zshrc
!/zshrc.d
!/zshrc.d/*
