# Only track configs that I change
/**/*
/*
!/.gitignore
!/DIR_COLORS
!/environment
!/gitconfig
!/homebrew
!/homebrew/Brewfile
!/homebrew/brew.env
!/homebrew/links.conf
!/kitty
!/kitty/kitty.conf
!/tor
!/tor/torrc
!/tor/torrc.d
!/tor/torrc.d/*.conf
!/tor/torrc.d/SECRET_FILES
/tor/torrc.d/*.conf.secret
!/vim
!/vim/**
!/vimrc
!/whalebrew
!/whalebrew/config.yaml
!/zshrc
!/zshrc.d
!/zshrc.d/*
